@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;1,300&family=Inter:wght@500;800&family=Poppins:wght@100;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table,
th {
  border: 2px solid black;
  border-width: 2px;
  border-collapse: collapse;
  font-family: "Inter", sans-serif;
}
th {
  background-color: #e5e7eb;
  padding: 1rem 2rem;
}

td {
  border: 2px solid #d1d5db;
}

td:first-child {
  border-left: 2px solid black;
}
td:last-child {
  border-right: 2px solid black;
}

tr:last-child td {
  border-bottom: 2px solid black;
}

input[type="text"],
input[type="text"]:focus,
input[type="text"]:active {
  outline: none;
  border: 0;
}

tr td:first-child input[type="text"] {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

input[type="text"] {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 12px;
  width: 100px;
  padding: 0.5rem 0.14rem;
  margin-left: 0.2rem;
}

tr td:last-child input[type="text"] {
  width: 200px;
}
